{
	"plugins": [
		"react"
	],
	"extends": [
		"../.eslintrc-defaults.json"
	],
	"ecmaFeatures": {
		"modules": true,
		"jsx": true
	},
	"env": {
		"browser": true,
		"es6": true
	},
	"globals": {
		"APP_ENV": true
	},
	"plugins": [
		"react"
	],
	"parser": "babel-eslint"
}
